{% extends "base.html" %}

{% block content %}
<head>
    <title>Профиль</title>
</head>
{% if current_user.is_authenticated %}
<center><h1>Профиль</h1></center>
<br>
<h2>{{ current_user.name }} {{ current_user.surname }}</h2>
<div>
    {{ current_user.email }}
</div>
<div>
    У Вас на счету {{ current_user.money * 100 // 1 / 100}} рублей и {{ current_user.bonuses * 100 // 1 / 100}} бонусов
    <a class="btn btn-warning " href="/money">Пополнить баланс</a>
</div>
<br>
{% if current_user.is_vip %}
Вы приобрели VIP.
{% else %}
За символическую сумму мы предлагаем Вам приобрести VIP!
Только сегодня он стоит всего 500 рублей!<br>
<a class="btn btn-warning " href="/vip">Купить вип</a>
{% endif %}
<br>
Пользователи с VIP получают скидку 20% при покупке любого товара.
{% else %}
Эта страница недоступна для пользователей, которые не вошли в систему. <a href="/login">Войдите</a> или <a href="/register">зарегистрируйтесь</a>, чтобы продолжить.
{% endif %}
{% endblock %}